.local/share/nvim/shada/main.shada
.aws
.azure
.docker/
.vscode-server/
.wget-hsts
!/Library/AppleScripts
!/Library/KeyBindings
*.DS_Store
*.elc
*.orig
*.pyc
*.rej
*~
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.account
/.bash_history
/.bazaar
/.bi_li3
/.bugs_everywhere
/.bundle
/.bzr.log
/.cabal
/.cache
/.ccache
/.certs
/.cups
/.dropbox
/.dropbox-master
/.dvdcss
/.ebooksrc
/.ec2
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.freemind
/.gdb_history
/.gem
/.getmail/gmail.log
/.getmail/oldmail-pop.gmail.com-995-gary.bernhardt@gmail.com
/.ghc
/.gnupg
/.god
/.heroku
/.hg.cvsps
/.hgk
/.history
/.history.436tlA
/.hoe_template
/.hudson
/.ipython
/.irb-history
/.irb_history
/.lesshst
/.local
/.localized
/.macports
/.mutt/aliases
/.mutt/cache
/.mutt/certificates
/.mysql_history
/.netrc
/.node_repl_history
/.npm
/.npmrc
/.offlineimap
/.pip
/.psql_history
/.pypirc
/.python-eggs
/.python_history
/.rbenv
/.rbx
/.rnd
/.rubies
/.rubinius_last_error
/.rvm
/.sh_history
/.sqlite_history
/.ssh
/.ssl
/.tailwindcss
/.thelongpoll
/.toot
/.tox
/.trc
/.vim-fuf-data
/.vim-tmp
/.vim/.netrwhist
/.vim/autoload/plug.vim.old
/.vim/plugged-backup
/.vim/plugged/
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.viper
/.wget-hsts
/.wine
/.wireshark
/.wireshark-etc
/.yarnrc
/.zcompdump
/.zcompdump*
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Gmail
/Library/*
/Movies
/Music
/Pictures
/Public
/Sites
/bin/rvm
/bin/rvm-auto-ruby
/bin/rvm-exec
/bin/rvm-prompt
/bin/rvm-shell
/bin/rvmsudo
/bin/youtubedown
/blog
/books
/design
/desktop_temp
/doc
/emu
/gmail-archive.sparsebundle
/learning
/mbox
/media
/misc
/misc.sparsebundle
/notes
/papers
/photos
/proj
/prj
/reference
/screencasts
/secrets
/share/man
/src
/talks
/var
/work
/writing
/.zshrc.pre-oh-my-zsh
/.sudo_as_admin_successful
/.landscape
/.motd_shown
/.cargo
/.rustup
/node_modules
/.npm-global
/.IdentityService/
/.PyPoE/
/.android/
/.anydesk/
/.aws-sam/
/.babel.json
/.boto
/.chia/
/.clutch/
/.cocoapods/
/.conda/
/.cpan/
/.dart/
/.dartServer/
/.degit/
/.dotnet/
/.emulator_console_auth_token
/.firebase-config.json
/.flex-events-gcp-key
/.flutter
/.flutter-devtools/
/.gradle/
/.gsutil/
/.hex/
/.m2/
/.mailcap
/.mime.types
/.mix/
/.mono/
/.mutt/
/.ngrok/
/.nuget/
/.nvm/
/.pgadmin/
/.pnpm-debug.log
/.pnpm-state.json
/.pnpm-state/
/.pnpm-store/
/.pub-cache/
/.pyenv/
/.pylint.d/
/.react-native-cli/
/.redhat/
/.rest-client/
/.sdkman/
/.serverless/
/.serverlessrc
/.terraform.d/
/.vscode-insiders/
/.vscode/
/.dbus/
/.bun/
/.config/configstore/
/.cmake/
.idea/
/.lein/
/.composer/
/.config/emacs/
/.lucy/
/.config/wireshark/
.config/github-copilot/hosts.json
.config/github-copilot/versions.json
.matplotlib/
bin/openapitools/
nohup.out
Builds/
Calibre Library/
Google Drive
My Drive
go/
perl5/
.eslint_d

.config/.gsd-keyboard.settings-ported
.config/Epic/
.config/GNOME-xdg-terminals.list
.config/UNDERTALE/
.config/Vampire_Survivors/
.config/Vampire_Survivors_90382749/
.config/Vampire_Survivors_Data/
.config/blender/
.config/cef_user_data/
.config/discord/
.config/dosbox/
.config/evolution/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/ibus/
.config/mimeapps.list
.config/monitors.xml
.config/neofetch/
.config/pulse/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.config/zed/.tmp*
.config/zed/embeddings/*
.config/bruno/
.config/google-chrome/
.config/menus/
.gnome/
.factorio/
.mozilla/
.nvidia-settings-rc
.opam/
.pki/
.steam/
.steampath
.steampid
.stella/
.var/
Games/
.zsh_sessions
.prettierd
.config/alacritty/
.soapuios
.oh-my-zsh
default-soapui-workspace.xml
soapui-settings.xml
.atari800.cfg
.atari800
