# bash stuff
.bash_history

# zsh stuff
.zsh_history

# nvim
.local/share/nvim/shada/main.shada

# zcompdump
.zcompdump*

# ssh
.ssh

# windows wsl2 stuff
.aws
.azure
.docker/
.vscode-server/
.wget-hsts
