[Desktop Entry]
Name=Firefox (Desktop 1)
Comment=Web Browser
Exec=firefox
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-autostart-phase=2
